<div class="mt-4">
  <form  method="get" action="#">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="search">Search News</label>
      </div>
      <input type="text" id="search" class="form-control" name = "q" placeholder="Search News">
      <div class="input-group-append">
        <button class="btn btn-primary" type="submit">Search</button>
      </div>
    </div>
  </form>
</div>
